/* #region radiobutton美化 */
.radio-beauty-container {
    font-size: 0;
  }
  .radio-beauty-container .radio-beauty:hover,
  .radio-beauty-container input[type="radio"]:checked + .radio-beauty {
    padding: 2px;
    background-color: #007bff;
    background-clip: border-box;
  }
  .radio-beauty-container .radio-theme {
    vertical-align: middle;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    cursor: pointer;
    margin-left: 4px;
  }
  .radio-beauty-container .radio-beauty {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid #007bff;
    vertical-align: top;
    margin: 0 12px 0px 8px;
    border-radius: 50%;
    background-color: #fff;
  }
  .radio-beauty-container .radio-beauty:hover {
    box-shadow: 0 0 7px #007bff;
  }
  /* #endregion */
  