<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!-- 默认入口页 -->
		<defaultDocument>
			<files>
				<add value="html/index.html" />
			</files>
		</defaultDocument>
		<!-- 重写规则 -->
		<rewrite>
			<rules>
				<!-- HTTPS -->
				<!-- <rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
				</rule> -->
				<!-- 路由 -->
				<rule name="0">
					<match url="^(.*)home$" />
					<action type="Rewrite" url="{R:1}html/index.html" />
				</rule>
				<rule name="1">
					<match url="^(.*)help$" />
					<action type="Rewrite" url="{R:1}html/readme.html" />
				</rule>
				<rule name="2">
					<match url="^(.*)update$" />
					<action type="Rewrite" url="{R:1}html/update.html" />
				</rule>				
				<rule name="3">
					<match url="^(.*)messageboard$" />
					<action type="Rewrite" url="{R:1}html/messageboard.html" />
				</rule>
				<rule name="4">
					<match url="^(.*)writemessage$" />
					<action type="Rewrite" url="{R:1}html/writemessage.html" />
				</rule>
				<rule name="5">
					<match url="^(.*)login$" />
					<action type="Rewrite" url="{R:1}html/login.html" />
				</rule>
				<rule name="6">
					<match url="^(.*)personal$" />
					<action type="Rewrite" url="{R:1}html/personal.html" />
				</rule>
			</rules>
		</rewrite>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
	</system.webServer>
</configuration>
